<mat-card>
    <mat-card-header>
        <mat-card-title>Vilken brygga ska du åka ifrån?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div fxLayout="row" fxFlex>
            <div>
            <!-- Make the button slightly smaller on xs so that it fits on one row on iPhone 5 --> 
              <a mat-raised-button 
                [color]="from === 'luma' ? 'primary' : ''" 
                [routerLink]="['/luma']" 
                ngClass.xs="app-smaller-button">LUMA</a>
              <a mat-raised-button 
                [color]="from === 'henriksdal' ? 'primary' : ''" 
                [routerLink]="['/henriksdal']" 
                ngClass.xs="app-smaller-button">HENRIKSDAL</a>
              <a mat-raised-button 
                [color]="from === 'barnangen' ? 'primary' : ''" 
                [routerLink]="['/barnangen']" 
                ngClass.xs="app-smaller-button">BARNÄNGEN</a>
            </div>
          </div>
      </mat-card-content>
</mat-card>

<mat-card *ngFor="let departure of departures; let i = index">
    <mat-card-header>
      <mat-card-title>kl. {{ departure.date.getHours() < 10 ? '0' + departure.date.getHours() : departure.date.getHours() }}.{{ departure.date.getMinutes() < 10 ? '0' + departure.date.getMinutes() : departure.date.getMinutes() }}</mat-card-title>
      <mat-card-subtitle>{{ departure.route.to | destination:from }} ({{ departure.route.to === 'triangel' ? 'triangeltrafik' : 'skytteltrafik' }})</mat-card-subtitle>
      <img mat-card-avatar src="/assets/ferry.png" alt="Färjan">
    </mat-card-header>
    <mat-card-content>
      Nedräkning: {{ departure.countdown | countdown}}
    </mat-card-content>
</mat-card>

<div style="text-align: center; padding-top: 15px">
  <button mat-button (click)="onClickShowMore()" *ngIf="nofDepartures < 50" style="margin-bottom: 100px">VISA FLER</button>
  <button mat-button (click)="onClickShowLess()" *ngIf="nofDepartures > 1" style="margin-bottom: 100px">VISA FÄRRE</button>
</div>
